body {
  background-color: rgb(250, 246, 242);
}

.edit-container {
    width: 45%;
    height: 65vh;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #f8f9fa;

  .forma-edit{
    background-color: rgb(255, 255, 255);

  }

}
