
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(250, 246, 242);
  color: #333333;

}


#explore-title {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}


.container {
  background-color: #ffffff67;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 7px;
  margin-top: 0px;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  .carousel-item {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    color: #777;
  }
}
