.btn.btn-info.btn-lg.btn-block {
  background-color: rgb(250, 246, 242);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
}
