.form-for_host-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}
.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 15px;


  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

.new-spa-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(227, 227, 227);
}

.new-spa-container img {
  width: 90%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  padding: 18px;
  width: 85%;
  margin: 0 auto;
}

ul li {
  padding: 11px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 18px ;
}

.btn-group {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
}
.carousel-item img {
  height: 300px;
  width: auto;
  object-fit: cover;
}
