<div class="container w-25 p-5 bg-white registration-form">
  <%= simple_form_for [spa, booking], remote: true  do |f| %>
  <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } }    %>
  <%= f.button :submit, class:"default-btn" %>
  <% end %>
</div>
