<footer class="d-flex flex-wrap justify-content-between align-items-center p-3 my-1 border-top mt-0 h-25">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2023 SPA EXPLORER</span>
    </div>

      <%= link_to "/", class: "navbar-brand" do %>
        <img src="<%= asset_path "logo.png" %>" alt="Logo">
      <% end %>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <i class="fa-brands fa-twitter ms-3" style="color: #000000;"></i>
      <i class="fa-brands fa-instagram ms-3" style="color: #000000;"></i>
      <i class="fa-brands fa-facebook ms-3" style="color: #000000;"></i>
      <i class="fa-brands fa-github ms-3" style="color: #000000;"></i>
    </ul>
</footer>
