
</div>
<div class="container mt-5">
  <div class="banner">
    <img src="https://www.lakeaustin.com/content/uploads/2019/11/conde19.jpg" alt="Spa Explorer Banner">
    <div class="banner-content">
    <h1> Immerse Yourself with Spa Explorer</h1>
      <h2>Find the perfect Spa, anywhere around the world</h2>
      <p>Discover experiences in our curated list of top-notch places </p>
    </div>
  </div>

  <div class="grid mt-5">


      </div>

  </div>
</div>
