.footer {
  justify-content: space-between;
  background: white;
  width: 100%;
  border-top: 1px solid #dee2e6;
  /* Border to separate content and footer */
  background-color: #f8f9fa;
  /* Background color for the footer */
  padding: 1rem;
  bottom: 0;
  position: fixed;
}


.navbar-brand img {
  width: 40px;
}

