.spa-card {
  width: 300px;
  height: 590px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #ffcaa6;
  height: 200px;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  background-position: center;
  background-size: cover;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.5;
}

.text-body {
  font-size: 1.3em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s ease-in-out;
  font-size: 20px;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}
